<div class="navbar navbar-light bg-light justify-content-between px-3">
  <%= link_to 'Movies', lists_path(@lists), class:"navbar-brand" %>

  <div class="d-flex justify-content-end">
    <%= link_to 'New list', new_list_path, class:"navbar-brand" %>

    <%= simple_form_for :search, url: lists_path, method: :get do |f| %>
    <%= f.input :title, collection:Movie::TITLE, as: :select,:include_blank => "Select film title", label: false%>
      <button name="button" type="submit" class="btn btn-danger">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <% end %>
  </div>

</div>
