.list-container {
  width: 700px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-left: 1px solid grey;
  border-radius: 25px;
  margin-top: 26px;
  padding: 1px;
}

.film-container {

  text-align: center;
  background-color: white;
  border-left: 1px solid grey;
  margin-top: 26px;
  padding: 1px;

}
